@import "./var.css";

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--color-light-grey);
  font-size: 14px;
  width: 100%;
}

footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 16px;
  margin-right: 16px;
}

footer ul li {
  color: var(--color-grey);
  font-weight: 300;
  margin-right: 12px;
}

footer ul a {
  text-decoration: none;
}

.footer-icons {
  flex-wrap: nowrap;
  margin-right: 32px;
  display: flex;
}

.footer-icons img {
  width: 20px;
  opacity: 0.5;
}

.footer-logo--mobile {
  display: none;
}

.footer-logo--pc {
  display: inline;
}

@media screen and (max-width: 666px) {
  footer {
    height: 100px;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 16px;
  }

  footer ul {
    margin-right: 0;
  }

  .footer-last {
    margin-right: 0;
  }

  .footer-icons {
    padding: 0;
    margin: 0;
    padding-top: 16px;
  }

  .footer-logo--mobile {
    margin-top: 4px;
    display: block;
  }

  .footer-logo--pc {
    display: none;
  }
}
